body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFF;
}

/* header */
.header {
    width: 1440px;
        height: 72px;
        flex-shrink: 0;
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
            background: var(--WHITE, #FFF);
}

.logo-header {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logo-span {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.menu-list {
    display: inline-flex;
        align-items: flex-start;
        gap: 40px;

}

.menu-nav {
    color: var(--NAVY-BLUE, #2E2F42);

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.menu-nav:hover,
.menu-nav:focus{
    color:#404bbf ;
}

.adress {}

.contacts {
    color: var(--SLATE, #434455);
    
       
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.contacts:hover,
.contacts:focus{
    color: #404bbf;
}


/* man */
/* Main content */
.solution {
background: var(--NAVY-BLUE, #2E2F42);
}



.section-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}

.section-button {
    color: var(--WHITE, #FFF);
    
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        display: inline-flex;
            padding: 16px 32px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 4px;
                background: var(--IRIS, #4D5AE5);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.section-button:hover,
.section-button:focus{
color: #404bbf;
}


/* Main content list */

.description {
    width: 1128px;
        height: 104px;
        flex-shrink: 0;
        background: #FFF;
}

.title {
    display: flex;
        width: 264px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
}

.title-name {
color: var(--NAVY-BLUE, #2E2F42);

    
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
   
    letter-spacing: 0.4px;
}

.title-text {
    color: var(--SLATE, #434455);
    
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* Main content team */

.team {
    background-color: #f4f4fd;
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height:1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.team-item {
    display: inline-flex;
        padding-bottom: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        border-radius: 0px 0px 4px 4px;
            background: var(--WHITE, #FFF);
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-item-name {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height:1.2;
       
        letter-spacing: 0.4px;
}

.team-item-desc {
    color: var(--SLATE, #434455);
        text-align: center;
    
      
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
       
        letter-spacing: 0.32px;
}



/* Our Portfolio */

.portfolio {
    background: #FFF;
    width: 1440px;
        height: 3300px;
}

.portfolio-title { 
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
       
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
       
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.portfolio-list {
display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
}

.portfolio-item {
    color: var(--NAVY-BLUE, #2E2F42);
    
       
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        
        letter-spacing: 0.4px;
}
.portfolio-item-desc{
    color: var(--SLATE, #434455);
    
        
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height:1.5;
       
        letter-spacing: 0.32px;
}
/* footer */
.footer {
    width: 1440px;
        height: 312px;
        flex-shrink: 0;
        background: var(--NAVY-BLUE, #2E2F42);
}

.logo {
    ccolor: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        
        letter-spacing: 0.54px;
        text-transform: uppercase;
        display: flex;
            width: 44px;
            height: 21px;
            flex-direction: column;
            justify-content: center;
}

.logo-light {
display: flex;
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
       
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    
       
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
       
        letter-spacing: 0.32px;
        width: 264px;
}



