body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFF;
}

/* header */
.header {}

.logo-header {}

.logo-span {}

.menu-list {}

.menu-nav {}

.adress {}

.contacts {}


/* man */
/* Main content */
.solution {}

.section-title {}

.section-button {}



/* Main content list */

.description {}

.title {}

.title-name {}

.title-text {}

/* Main content team */

.team {}

.team-title {}

.team-item {}

.team-item-name {}

.team-item-desc {}

.solution {}

.section-title {}

.section-button {}

.description {}

.title {}

.title-name {}

.title-text {}

.team {}

.team-title {}

.team-item {}

.team-item-name {}

.team-item-desc {}

/* Our Portfolio */

.portfolio {}

.portfolio-title {}

.portfolio-list {}

.portfolio-item {}
/* footer */
.footer {}

.logo {}

.logo-light {}

.footer-text {}



